.env
lambdas/**/node_modules/
lambdas/**/dist/
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/terraform.tfstate
terraform/terraform.tfstate.backup
terraform/terraform.tfvars
terraform/*.tfplan
terraform/.build/
